################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PublishToNuget/.vs/PublishToNuget/v17
/PublishToNuget/PublishToNuget/obj
/PublishToNuget/PublishToNuget/bin/Debug
/PublishToNuget/.vs/PublishToNuget/v16
/PublishToNuget/.vs/PublishToNuget
/PublishToNuget/PublishToNugetV2/bin/Debug
/PublishToNuget/PublishToNugetV2/obj
/PublishToNuget/PublishToNuget
/PublishToNuget/PublishToNugetV2/bin/Release
/PublishToNuget/NugetCore/bin/Debug/netstandard2.0
/PublishToNuget/NugetCore/obj
/PublishToNuget/PublishToNugetV3/obj
/PublishToNuget/.vs/ProjectEvaluation
